* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

Body {
    background-image: url(../images/bg.png);
    background-attachment: fixed;
}

header {
    width: 994px;
    background-color: white;
    margin: auto;
}

ul {
    list-style-type: none;
}

nav {
    height: 59px;
    width: 900px;
    margin: auto;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}


main {
    width: 994px;
    background-color: white;
    margin: auto;
}

main section {
    width: 900px;
    margin: auto;
}


footer {
    width: 994px;
    background-color: white;
    margin: auto;
    vertical-align: top;
}

#archives {
    width: 900px;
    margin: auto;
}



footer section {
    display: inline-block;
    width: 24%;
    height: 235px;
    vertical-align: top;
    margin: auto;
}
