* {
    font-family: helvetica;
}

#container {
    width: 994px;
    margin: auto;
    box-shadow: 0 0 5px #505050;
}

body {
    background-image: url(../images/bg.png);
    background-attachment: fixed;
}

header {
    width: 994px;
    background-color: white;
    margin: auto;
    height: auto;
}

header img {
    padding: 0.2em 0.5em;
    background-color: #FAFAFA;
    float: right;
    vertical-align: top;
    margin-top: 90px;
    margin-right: 47px;
    border-bottom: 1px solid #F0F0F0;

}

h1 {
    font-size: 52px;
    font-weight: normal;
    color: #606060;
    width: 900px;
    margin: auto;
    padding-bottom: 5px;
    padding-top: 50px;
    font-family: Terminal Dosis;
}

header span {
    font-size: 13px;
    width: 900px;
    margin-left: 4em;
    margin-bottom: 25px;
    color: #606060;
    font-weight: 500;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav {
    height: 59px;
    width: 900px;
    padding-top: 25px;
    margin: auto;
    padding-bottom: 25px;
}

nav ul {
    background-color: #FAFAFA;
    text-align: center;
    padding: 0;

    height: 59px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
}

nav > ul > li {
    display: inline-block;
    margin-top: 20px;
    width: 16%;
}

nav ul li a {
    text-decoration: none;
    color: #505050;
}


nav ul ul {
    display: none;

}

nav ul ul li {
    height: 33px;
    display: block;
    color: rgb(57, 57, 57);
    background-color: #F4F4F4;
    margin: 0;
}

nav ul li:hover ul {
    padding-top: 1em;
    display: block;
    position: absolute;

}

h2 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    margin-bottom: 11px;
}

main span {
    font-size: 13px;
    width: 900px;
    margin-top: 0;
    margin-left: 17em;
    margin-bottom: 25px;
    color: #606060;
    font-weight: 500;
}


main {
    width: 994px;
    background-color: white;
    margin: auto;
}


main section {
    width: 900px;
    margin: auto;
}

p {
    margin-bottom: 0;
    padding-bottom: 25px;
}

#separateur {
    width: 900px;
    height: 40px;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #FAFAFA;
    margin: auto;
    margin-bottom: 40px;
}

h3 {
    font-weight: normal;
    color: #494949;
    text-align: center;
    margin-top: 0;
}


footer {
    width: 994px;
    background-color: white;
    margin: auto;
    vertical-align: top;
    height: 450px;
}

#archives {
    width: 900px;
    margin: auto;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    background-color: #FAFAFA;
}

footer section {
    display: inline-block;
    width: 21%;
    height: 235px;
    vertical-align: top;
    margin: auto;
    padding: 1em 1em 2em;
}
